* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

html, body {
    height: 100%;
}

$jdred: rgba(241, 2, 21, 1);

.container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .search {
        width: 100%;
        flex-basis: 44px;
        background-color: $jdred;
        display: flex;
        align-items: center;
        z-index: 20px;
    
        .left {
            flex-basis: 50px;
            color: white;
            text-align: center;
            line-height: 100%;
        }
    
        .right {
            flex-basis: 50px;
            color: white;
            text-align: center;
            line-height: 100%;
        }
    
        .searchinput {
            flex: 1;
            height: 36px;
            border: none;
            outline: none;
            border-radius: 18px;
        }
    }

    .category {
        flex: 1;
        display: flex;

        .left {
            flex-basis: 120px;
            border-right: 1px solid #ccc;
            border: 3px solid red;
            position: relative;

            .swiper-container {
                height: 100%;
                width: 100%;
                overflow: hidden;

                .swiper-slide {
                    height: auto;

                    li {
                        height: 50px;
                        line-height: 50px;
                        padding-left: 20px;
                        border-bottom: 1px solid #ccc;
                    }
                }
            }

        }

        .right {
            flex: 1;
            background-color: hotpink;
            height: 100%;
            // border-bottom: 1px solid tomato;
            border: 3px solid yellow;
            .swiper-container1 {
                height: 100%;
                border: 5px solid blue;
                .swiper-slide {
                    height: auto;
                    display: flex;
                    flex-wrap: wrap;

                    li {
                        width: 25%;
                        padding: 10px;
                        a {
                            width: 100%;
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

